<h1 align="center">
  Sign up as contributor
</h1>

<%= render 'form', user: @user %>

<p align="center">
  Already have an account?</br>
  <%= link_to "Sign in", users_path, class: "btn btn-success btn-md" %>
</p>

