<h1 align="center">
  ABOUT ME
</h1>

<div align="center">
  <%= image_tag "/assets/me.png" %>
</div>
<h4 align="center" style="margin-top:30px;text-">
  Hi, my name is Katarina, and I'm learning Ruby on Rails!
</h4>>

