<head>
  <img src="http://www.covi.org.uk/wp-content/uploads/2016/11/grey-back.jpg" alt="banner" width="1500" height="128">
  <h1>
    ABOUT MYSELF
  </h1>
</head>

<body style="background-color:#d4d1cd;">

<p>
  Hi, my name is Katarina, and I'm learning Ruby on Rails!
</p>
<%= link_to 'Home', root_path %>

</body>

