<head>
  <img src="http://www.covi.org.uk/wp-content/uploads/2016/11/grey-back.jpg" alt="banner" width="1500" height="128">
  <h1>
    ALPHA BLOG
  </h1>
</head>

<body style="background-color:#d4d1cd;">
<p>
  Hello and welcome to my blog!
</p>
<%= link_to 'About', about_path %>
</body>
