
<img src="http://www.covi.org.uk/wp-content/uploads/2016/11/grey-back.jpg" alt="banner" width="1500" height="128">
<h1>
  ALPHA BLOG
</h1>

<p>
  Hello and welcome to my blog!
</p>
<%= link_to "About", about_path %>
<%= link_to "Articles", articles_path %>
