<div class="container">
  <footer class="footer">
    <small>The Complete Ruby on Rails Developer Course
      <nav>
        <ul>
          <li><%= link_to "About me", about_path %></li>
          <li><%= link_to "Articles", articles_path %></li>
        </ul>
      </nav>
    </small>
  </footer>
</div>