<div class="row">
  <div class="col-sm-offset-2 col-sm-8">
      <% flash.each do |name, msg| %>
        <div class="alert <%= flash_class(name) %>">
          <%= msg %>
        </div>
      <% end %>
  </div>
</div>
